# =========================
# Python
# =========================

__pycache__/
*.py[cod]

# =========================
# Virtual environment
# =========================

.venv/

# =========================
# Environment / secrets
# =========================

.env

# =========================
# Testing
# =========================

.pytest_cache/

# =========================
# Ruff
# =========================

.ruff_cache/

# =========================
# Mypy
# =========================

.mypy_cache/

# =========================
# Logs
# =========================

*.log

# =========================
# Local data
# =========================

data/raw/*
data/processed/*
data/cache/*
data/exports/*